body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.panel {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quiz_box, .info_box {
    margin: 10px;
    padding: 5px;
    width: 100%;
    background-color: rgb(235, 216, 244);
    font-size: larger;
    text-align: center;
}
.quiz_box{
    display: none;
}
.result-box {
    display: none;
    margin: 10px;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.option {
    padding: 5px;
    margin: 10px;
    width: 100%;
    background-color: rgb(235, 216, 244);
}
.option1{
    margin: 2px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    background-color: blueviolet;
    display: block;
}

.option:hover {
    background-color: aliceblue;
    color: blueviolet;
}

.option:active{
    background-color: darkorchid;
    border: rgb(235, 216, 244);
    color: aliceblue;
}

.Next, .start-btn, .save-btn, .retry, .abbr {
    width: 10%;
    padding: 5px;
    margin: 10px;
    align-items: center;
    background-color: aliceblue;
    border-color: blueviolet;
}
.Next:hover, .start-btn:hover, .save-btn:hover, .retry:hover, .start-btn:hover {
    background-color: darkorchid;
    color: aliceblue;
}
.Next:active, .start-btn:active, .save-btn:active, .retry:active, .start-btn:active {
    border: 2px rgb(235, 216, 244);
}

div.quiz_box.result {
    display: none;
}